.font_size {
    overflow: hidden;
    display: inline-block;
    text-align: center;
    float: right;
    margin: -2.85em 0 0 0;

    span {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        color: #000;
    }
    ul {
        display: inline-block;
        vertical-align: middle;
        @include li-reset;
        margin: 0;
        padding: 0;
        li {
            width: 30px;
            height: 34      px;
            font-size: 1em;
            float: left;
            display: block;
            margin: 0 .2em;
            a {
                display: block;
                text-align: center;
                line-height: 30px;
                border-radius: 50%;
                background: #F1F1F1;
                color: #333;
                &:hover {
                    background: $aHover;
                    color: #FFF;
                }
                &:focus {
                    border: dotted 2px $focus-boder;
                    background: $focus-bg;
                    color:$focus-color;
                }
                &.active {
                    background: #282828;
                    color: #FFF;

                    &:hover {
                        background: $aHover;
                        color: #FFF;
                    }
                    &:focus {
                        border: dotted 2px $focus-boder;
                        background: $focus-bg;
                        color:$focus-color;
                    }
                }
                &.small {
                    // font-size: .938em;
                }
                &.large {
                    // font-size: 1.125em;
                }
            }
        }
    }
    @include screen('mobile') {
        display: none;
    }
}

